@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* AdminDashboard.css */

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: 50%;
  left: calc(100% + 15px);
  transform: translateY(-50%);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.4s, transform 0.4s;
}

.sidebar.open li .tooltip {
  opacity: 0; 
}

.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}

.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}

.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}

.sidebar li .nav-button {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #1d1b31;
  border: none;
  color: #fff;
  cursor: pointer;
}

.sidebar li .nav-button:hover {
  background: #fff;
}

.sidebar li .nav-button:hover i,
.sidebar li .nav-button:hover .links_name {
  color: #11101d;
}

.sidebar li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.sidebar .links_name {
  opacity: 0;
  transition: all 0.4s ease;
}

.sidebar.open .links_name {
  opacity: 1;
}

.sidebar .profile {
  position: absolute;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open .profile {
  width: 250px;
}

.sidebar .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar .profile-details .name_job {
  display: none;
}

.sidebar.open .profile-details .name_job {
  display: block;
  margin-left: 10px;
}

.sidebar .profile .job {
  font-size: 12px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
  color: #fff;
  font-size: 20px;
}

.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
.add-course-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #1d1b31;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-course-button:hover {
    background-color: #11101d;
  }
  
  .add-course-form {
    position: absolute;
    top: 70px; 
    right: 40px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 675px;
    overflow: auto;
  }
  .add-course-form label {
    display: block;
    margin-bottom: 8px;
    color: #11101d;
  }
  
  .add-course-form input,
  .add-course-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .sections-container {
    margin-top: 10px;
    display: inline-block;
  }
  
  .sections-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .section-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .section-item input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
  }
  
  .section-item button {
    margin-left: 10px;
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    margin-bottom: 13px;
  }
  
  .section-item button:hover {
    background-color: #0056b3;
  }
  
  .add-course-form button {
    background-color: #1d1b31;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-course-form button:hover {
    background-color: #11101d;
  }
  /*course cards*/
  .courses-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    overflow: hidden;
    width: 600px;
    height: 250px;
    margin-top:20px;
  }
  
  .course h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .course h2 {
    letter-spacing: 1px;
    margin: 10px 0;
    font-size: 1.5em;
  }
  
  .course-preview {
    background-color: #2A265F;
    color: #fff;
    padding: 30px;
    max-width: 250px;
    flex: 1;
  }
  
  .course-preview p {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
  }
  
  .course-info {
    padding: 30px;
    position: relative;
    color: #11101d;
    width: 100%;
    flex: 1;
  }
   .btn {
    background-color: #2A265F;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .course {
      flex-direction: column;
      width: auto;
    }
  
    .course-preview,
    .course-info {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .course {
      flex-direction: column;
      width: auto;
    }
  
    .course-preview,
    .course-info {
      width: 100%;
    }
  
    .progress-container {
      position: static;
      text-align: left;
      margin-top: 10px;
    }
  
    .btn {
      position: static;
      margin-top: 10px;
    }
  }  

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}
